{% extends 'base.html.twig' %}

{% block content %}
<h1 class="text-center">Nos actualités</h1>
<div class="row mt-2">
  <div class="col-12 col-md-3">
	<a href="#" class="a-block no_souligne" style="background-image: url('images/btech_img_1.jpg');">
		<div class="card">
		 <div class="card-body btn btn-primary">
			<span class="text-white">Informatique</span>
			<span class="mr-2 text-dark">01 janvier 2023</span>
		</div>
			<h4 class="card-title">Développement logiciel</h4>
			<p class="card-text text-white">La conception et développement des solutions informatiques et télématiques , le support et l’assistance auprès des entreprises pour les solutions informatiques et télématiques délivrées.</p>
		</div>
	</a>
   </div>

   <div class="col-12 col-md-3">
	 <a href="#" class="a-block no_souligne" style="background-image: url('images/btech_img_3.jpg');">
		<div class="card">
		  <div class="card-body btn btn-primary">
			 <span class="text-white">Informatique</span>
			 <span class="mr-2 text-dark">01 janvier 2023</span>
		  </div>
		    <h4 class="card-title">Intégration des services et logiciels</h4>
		     <p class="card-text text-white">Études et Développement d’application informatique, de la phase d’analyse à son intégration pour un client ou une entreprise selon des besoins fonctionnels et un cahier des charges.</p>
		 </div>
	 </a>
   </div>

   <div class="col-12 col-md-3">
	  <a href="#" class="a-block no_souligne" style="background-image: url('images/btech_img_1.jpg')">
		 <div class="card">
			<div class="card-body btn btn-primary">
			  <span class="text-white">Informatique</span>
			  <span class="mr-2 text-dark">01 janvier 2023</span>
			</div>
			 <h4 class="card-title">Conseils et assistance</h4>
			 <p class="card-text text-white">Le conseil et l’assistance auprès des entreprises dans le domaine des TIC.</p>
		 </div>
	  </a>
   </div>

      <div class="col-12 col-md-3">
	  <a href="#" class="a-block no_souligne" style="background-image: url('images/btech_img_3.jpg')">
		 <div class="card">
			<div class="card-body btn btn-primary">
			  <span class="text-white">Informatique</span>
			  <span class="mr-2 text-dark">01 janvier 2023</span>
			</div>
			 <h4 class="card-title">Audit et formation</h4>
			 <p class="card-text text-white">L’audit des systèmes d’information audit des systèmes d’information - La formation du personnel en entreprise.</p>
		 </div>
	  </a>
   </div>

</div>

<div class="row mt-2 p-2">
     <div class="col-12 col-md-3">
         <div class="card">
              <a href="#">
                 <img src="images/btech_img_3.jpg" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
              </a>
          <div class="card-body">
              <h5 class="card-title"><a href="#">Développement logiciel</a></h5>
              <p class="card-text small">Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus?</p>
          </div>
      </div>
</div>

<div class="col-12 col-md-3">
    <div class="card">
        <a href="#">
          <img src="images/btech_img_2.jpg" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
        </a>
        <div class="card-body">
            <h5 class="card-title"><a href="#">Intégration des services et logiciels</a></h5>
            <p class="card-text small">Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus?</p>
        </div>
    </div>
</div>

<div class="col-12 col-md-3">
     <div class="card">
          <a href="#">
            <img src="images/btech_img_3.jpg" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
          </a>
        <div class="card-body">
             <h5 class="card-title"><a href="#">Conseils et assistance</a></h5>
             <p class="card-text small">Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus?</p>
        </div>
     </div>
</div>
            
<div class="col-12 col-md-3">
    <div class="card">
         <a href="#">
            <img src="images/btech_img_1.jpg" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
         </a>
       <div class="card-body">
          <h5 class="card-title"><a href="#">Audit et formation</a></h5>
          <p class="card-text small">Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus?</p>
       </div>
  </div>
</div>

</div>
		
{% endblock %} 

