{% extends 'base.html.twig' %}

{% block content %}
<h1 class="text-center">Nos Services</h1>
        <div class="row mt-2 p-5">
            <div class="col-12 col-md-3">
                <div class="card">
                        <a href="#">
                        <img src="images/btech_img_3.jpg" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Développement logiciel</a></h5>
                            <p class="card-text small">Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus?</p>
                        </div>
                    </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="card">
                            <a href="#">
                                <img src="images/btech_img_2.jpg" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
                            </a>
                            <div class="card-body">
                            <h5 class="card-title"><a href="#">Intégration des services et logiciels</a></h5>
                            <p class="card-text small">Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus?</p>
                            </div>
                    </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="card">
                            <a href="#">
                            <img src="images/btech_img_1.jpg" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
                            </a>
                            <div class="card-body">
                            <h5 class="card-title"><a href="#">Conseils et assistance</a></h5>
                            <p class="card-text small">Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus?</p>
                            </div>
                    </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="card">
                            <a href="#">
                            <img src="images/btech_img_3.jpg" alt ="Image tourisme" class="card-img-top" title="Image grotte" />
                            </a>
                            <div class="card-body">
                            <h5 class="card-title"><a href="#">Audit et formation</a></h5>
                            <p class="card-text small">Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus?</p>
                            </div>
                    </div>
            </div>

            </div>

{% endblock %}
