{% extends 'base.html.twig' %}

{% block content %}
 <div class="row">
        <div class="col-lg-4">
                <img  src="{{asset('images/paul_ghislain.PNG')}}" alt="paul_ghislain" width="100" height="90">
                <h2>Paul Ghislain BATSOTSA</h2>
                <p> Gérant, 46 ans , diplômé ingénieur informatique de l'institut Africain d'informatique-IAI GABON. 15 ans expériences dans différents secteurs informatiques,télécoms, banques et sociétés de SSI,il s’occupe principalement des activités administratives et commerciales . </p>
                <p><a class="btn btn-info" href="#" role="button">Plus de détails &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img  src="{{asset('images/igor_gamath.jpg')}}" alt="igor_gamath" width="100" height="90">
                <h2>Igor Josphin GAMATH GOUBILI</h2>
                <p> Responsable informatique et technique , 29 ans, développeur Web Full Stack et Mobile. Différentes expériences dans l'analyse, développement, tests et intégration logiciels. il occupe les fonctions de directeur informatique et technique. </p>
                <p><a class="btn btn-info" href="#" role="button">Plus de détails &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img  src="{{asset('images/christ_celin.PNG')}}" alt="igor_gamath" width="100" height="90">
                <h2>Christ Celin NKOUKA</h2>
                <p>Responsable formation et supprort, 33 ans, ingénieur d'études et développement. Plusieurs années d'expériences dans différents secteurs informatiques notamment l'assistance et formation , développement , intégration et tests logiciels. il occupe les fonctions de directeur des formations et support. </p>
                <p><a class="btn btn-info" href="#" role="button">Plus de détails &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
 </div><!-- /.row -->
 
{% endblock %}
